# --- Python ---
app/data/*
!app/data/.gitkeep

models/*
!models/.gitkeep

__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual Environment ---
.venv/
venv/
env/

# --- IDE / Editor ---
.vscode/
.idea/

# --- Logs ---
logs/
*.log

# --- Models (large files not stored in git) ---
*.pt
*.pth

app/data/*


# --- Uploads (if any future uploads) ---
uploads/
*.tmp

# --- OS Files ---
.DS_Store
Thumbs.db
